@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

input, select {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
}